@import "susy";
@import "compass/utilities/general/clearfix";
$total-columns  : 4;
$column-width   : 940px / $total-columns;
$gutter-width   : 0px;
$grid-padding   : 0px;
$container-style: magic;

body.ext-ie6 { text-align: center; }

body.frontend { background: var(lightGray); }

#page {
    @include container;

    #outerHeader {
        #header {
        background: var(darkGray);
        height: 40px;
        text-align: center;
        @include span-columns(4 omega);
        }
    }
    #outerContent {
        position: relative;
        z-index: 1;
        @include span-columns(4 omega);
        #content {
            @include pie-clearfix;
            text-align: center;
            margin: 0 auto;
            background: var(light);
            #innerContent {
            @include span-columns(4 omega);
            }
            #sidebar {
                @include span-columns(4 omega);
            }
        }
    }
    @include at-breakpoint(4) {
        #outerHeader {
            #header {
                text-align: left;
                @include span-columns(4 omega);
                height: 140px;
            }
        }
        #outerContent {
            @include span-columns(4 omega);
            #content {
            text-align: left;
                #innerContent {
                    @include span-columns(3);
                }
                #sidebar {
                    @include span-columns(1 omega);
                }
            }
        }
    }
}
